[Unit]
Description=Install Axioma's declarative Flatpak applications
After=network-online.target
Wants=network-online.target
ConditionPathExists=!/var/lib/axioma/flatpaks-v1

[Service]
Type=oneshot
ExecStart=/usr/bin/axioma-flatpak-setup

[Install]
WantedBy=multi-user.target

