[Unit]
Description=1 GiB Huge Pages File System
Documentation=https://docs.kernel.org/admin-guide/mm/hugetlbpage.html
ConditionPathExists=/sys/kernel/mm/hugepages
ConditionCapability=CAP_SYS_ADMIN
ConditionVirtualization=!private-users
ConditionKernelCommandLine=hugepagesz=1G
DefaultDependencies=no

[Mount]
What=hugetlbfs
Where=/dev/hugepages1G
Type=hugetlbfs
Options=pagesize=1G

[Install]
WantedBy=multi-user.target

